.container {
    width: 100% !important;
}
.desc_container{
    max-width: 60% !important;
    z-index: 2;
}
.details_container {
    z-index: 2;
}

.genres{
    width: 100% !important;
}
.genres button {
    margin: 10px !important;
}

.column {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start;
}

.anime_desc {
    display: block;
}

.anime_title {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px !important;
    white-space: nowrap;
    width: 100% !important;
    text-align: start;
}

@media screen and (max-width: 850px) {
    .anime_desc {
        display: none;
    }

    .anime_container {
        flex-direction: column-reverse !important;
    }

    .desc_container {
        max-width: 100% !important;
    }

    .details_container .w_card {
        padding: 0 !important;
        height: fit-content !important;
        width: 100% !important;
        margin: 0 !important;
        max-width: fit-content !important;
    }

    .details_container .w_card img {
        margin: 0 !important;
        width: 100% !important;
        min-height: 250px !important;
    }


    .details_container {
        padding: 0 !important;
        width: 90vw !important;
    }
}

@media screen and (max-width: 450px) {
    .details_container{
        margin-top: 20px !important;
    }

    .desc_container .row:nth-child(2) {
        margin: 5px 0 !important;
    }
}

