.sign_container {
    justify-content: center !important;
    align-items: center;
}

.sign_card {
    width: fit-content !important;
    flex-direction: row-reverse  !important;
    height: 100% !important;
    background-color: #0e0e10 !important;
}

.sign_img_container {
    width: 50% !important;
    border-radius: 20px;
}

.sign_img_container img {
    width: auto !important;
    max-height: 100vh !important;
    border-radius: 20px;
}

.sign_form {
    width: 50% !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

@media screen and (max-width: 1250px) {
    .sign_card {
        width: fit-content !important;
        flex-direction: column  !important;
        height: 100% !important;
        background-color: #0e0e10 !important;
    }

    .sign_img_container {
        max-height: 50vh !important;
    }

    .sign_img_container, .sign_form {
        width: 100% !important;
    }
}

@media screen and (max-width: 450px) {
    .sign_img_container {
        max-height: 80vw !important;
    }
    .sign_img_container img{
        object-fit: cover;
        object-position: center;
    }
    .sign_card {
        margin: 10px !important;
    }
}