.watch_hero, .hero {
    width: 100% !important;
    display: flex;
    flex-direction: row  !important;
    justify-content: space-between  !important;
}

.hero {
    max-width: 1600px !important;
}

.watch_hero *, .hero *{
    text-align: start !important;
}

.watch_hero .btn_container, .hero .btn_container{
    width: 20vw !important;
    display: flex;
    justify-content: space-between;
}

.hero_desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.main_card {
    width: calc(100vw - 45vw) !important;
    height: fit-content !important;
}

.hero_img {
    min-width: 100% !important;
}

.hero_img img {
    object-fit: contain;
    flex-shrink: 0;
    min-width: 100% !important;
    min-height: 100% !important
}

@media screen and (max-width: 1600px){
    .hero {
        justify-content: space-around;
    }
}

@media screen and (max-width: 1400px){
    .hero {
        flex-direction: column !important;
    }

    .hero .main_card, .mobile_hero .main_card  {
        width: 95% !important;
    }
}

@media screen and (max-width: 1200px){
    .watch_hero {
        flex-direction: column !important;
    }

    .watch_hero .main_card  {
        width: 100% !important;
        margin-bottom: 20px !important;
    }
}