#wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
}

.container{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    max-width: 1700px !important;
}

.wrap{
    flex-wrap: wrap;
}

.row{
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    max-width: 1600px !important;
    width: 100% !important;
}

.logo {
    max-height: 100% !important;
    width: auto !important;
    object-fit: contain;
    height: 60% !important;
    margin: 10px !important;
}

.scrollable {
    max-height: 310px !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.header {
    justify-content: space-between !important;
}


.special_cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.episode_cards {
    justify-content: flex-start !important;
}


.special_cards .h_card {
    padding: 0 20px !important;
    margin: 2px !important;
    height: fit-content !important;
    min-width: 350px !important;
    display: flex;
    flex-direction: row  !important;
    justify-content: flex-start  !important;
    transition: ease 300ms;
}

.h_card:hover{
    -moz-box-shadow: #F31260 0 10px 100px, #fff 0 0 10px;
    -webkit-box-shadow: #F31260 0 10px 100px, #fff 0 0 10px;
    box-shadow: #F31260 0 10px 100px, #fff 0 0 10px;
}

.w_card {
    padding: 5px !important;

    height: fit-content !important;
    display: flex  !important;
    flex-direction: column  !important;
    justify-content: flex-start  !important;
    transition: ease 300ms;
    background-color: transparent !important;
    width: 200px !important;
}

.active:hover{
    transform: translateY(-50px);
    -moz-box-shadow: #F31260 0 0 300px, #fff 0 0 10px;
    -webkit-box-shadow: #F31260 0 0 300px, #fff 0 0 10px;
    box-shadow: #F31260 0 0 300px, #fff 0 0 10px;
    background-color: #0C0C0D !important;
}

.red_shadow {
    -moz-box-shadow: #F31260 0 0 300px, #fff 0 0 10px;
    -webkit-box-shadow: #F31260 0 0 300px, #fff 0 0 10px;
    box-shadow: #F31260 0 0 300px, #fff 0 0 10px;
    background-color: #0C0C0D !important;
}

.special_cards .h_card img {
    margin: 0 !important;
    max-height: 140px !important;
}

.w_card img {
    object-fit: cover;
    width: 100% !important;
    height: 250px !important;
}

.h_card_body{
    max-width: 300px !important;
}

.h_card_title{
    font-weight: bolder;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.card_desc {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px !important;
    white-space: nowrap;
    width: 100% !important;
    text-align: start;
}

.card_desc .nextui-button-text{
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px !important;
    text-align: start;
}

.rating div {
    display: inline-block;
    margin: 2px 10px !important;
    font-weight: bold;
}

.checked {
    color: gold !important;
}

.rating span{
    margin: 2px 2px !important;
    color: gray;
}

.disabled:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    -moz-box-shadow: inset #131516 0 0 300px, #131516 0 0 10px;
    -webkit-box-shadow: inset #131516 0 0 300px, #131516 0 0 10px;
    box-shadow: inset #131516 0 0 300px, #131516 0 0 10px;
    transition: ease 300ms;
}

.cover_img {
    position: absolute;
    width: 100vw !important;
    right: 0;
    top: 0;
    height: 80% !important;
    z-index: 0;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: top !important;
    filter: brightness(0.5);
    background-color: #281f1f !important;
    background-blend-mode: multiply !important;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0));
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0C0C0D !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F31260 !important;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
}

.mobile_hero {
    display: none;
}

@media screen and (max-width: 1600px){
    .container {
        max-width: 1400px !important;
    }
}

@media screen and (max-width: 1400px){
    .container {
        max-width: 1300px !important;
    }
    .hero {
        display: none;
    }
    .mobile_hero {
        display: flex;
        justify-content: center;
    }
    .row {
        flex-wrap: wrap;
    }

    .btn_container {
        width: 500px !important;
        display: flex;
        justify-content: flex-start;
    }

    .hero .special_cards, .mobile_hero .special_cards{
        width: 99% !important;
    }

    .special_cards .h_card {
        min-width: 100% !important;
    }
}

@media screen and (max-width: 840px){
    .container {
        max-width: 800px !important;
    }
    .w_card {
        width: 30% !important;
        background-color: #131516 !important;
        padding: 10px 2px !important;
        margin: 5px auto !important;
    }
    .w_card img {
        margin: 0 !important;
        object-fit: cover;
        width: 100% !important;
        max-height: 170px !important;
    }

    .w_card .h_card_title {
        font-size: 18px;
    }

    .w_card .card_desc {
        font-size: 14px;
    }

    .latest .genres, .latest .year {
        display: none;
    }

    .w_card .rating span{
        display: inline-block;
        font-size: 10px;
        margin: 1px 1px !important;
        color: gray;
    }

    .w_card .rating div {
        display: inline-block;
        margin: 1px 3px !important;
        font-weight: bold;
        font-size: 14px;
    }

    .w_card .tag {
        display: none;
    }


}

@media screen and (max-width: 450px) {
    .container {
        max-width: 100vw !important;
        padding: 0;
    }

    .header {
        padding: 0 25px;
    }
}

@media  screen and (max-width: 930px) {
    .search_bar {
        margin-bottom: 20px !important;
    }
    .search_btn {
        margin-bottom: 10px !important;
    }
}